/* Importing Tailwind CSS */
@import "tailwindcss";

/* Setting the background color for the body */
body {
  background-color: #1F1E24;
}

/* Customizing the scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #1F1E24;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #6556CD;
}

/* Styling the custom select dropdown */
.select {
  position: relative;
  display: inline-block;
  width: 200px;
  margin: 0px;
}

.select select {
  width: 100%;
  padding: 6px;
  border: 2px solid #514b4b;
  border-radius: 10px;
  background-color: #0c0b0c;
  color: #afa9a9;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Adding a down arrow to the custom select dropdown */
.select::after {
  content: '\25BC'; /* Down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.select:hover::after {
  color: #6556CD;
}

/* Styling the custom select dropdown on focus */
.select select:focus {
  border-color: #6556CD;
  outline: none;
}

/* Styling the options in the custom select dropdown */
.select select option {
  background-color: #1F1E24;
  color: #fff;
}

.select select option:hover {
  background-color: #6556CD;
  color: #fff;
}